@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=La+Belle+Aurore&display=swap');

/* RESET **/
* {
margin: 0%;
padding: 0%;
box-sizing: border-box;
}

/* FUENTES / ESTILOS **/
.josefinDark {
    color: #776B5D;
    font-family:"Josefin Sans", sans-serif;
    margin-left: 60px;
}
.portada {
    color: #776B5D;
    font-family:"Josefin Sans", sans-serif;
    font-size: 35px;
    margin: 153px 10px 10px 239px;
}
.portada2 {
    color: #D9D9D9;
    font-family: "Josefin Sans", sans-serif;
    font-size: 35px;
    margin: 153px 10px 10px 239px;
}
.portada3 {
    color: #D9D9D9;
    font-family:"Josefin Sans", sans-serif;
    font-size: 35px;
    margin: 153px 10px 10px 239px;
}
.portada4{
    color: #776B5D;
    font-family:"Josefin Sans", sans-serif;
    font-size: 35px;
    margin: 153px 10px 10px 239px;
}
.portada5 {
    color: #776B5D;
    font-family:"Josefin Sans", sans-serif;
    font-size: 35px;
    margin: 153px 10px 10px 239px;
}
.auroreDark {
    color: #776B5D;
    font-family: "La Belle Aurore", cursive;
    font-size: 35px;
    margin: 30px 20px 30px 20px ;
}
.auroreLight {
    color: #B0A695;
    font-family: "La Belle Aurore", cursive;
    font-size: 20px;
    margin: 30px 20px 30px 20px ;
}
.piePagina {
    color: #D9D9D9;
    font-family:"Josefin Sans", sans-serif;
    background-color: #B0A695;
    text-align: center;
}
.precios {
    color: #B0A695;
    font-family:"Josefin Slab", serif;
    font-size: 16px;
    margin: 10px 20px 20px 20px ;
}
footer p {
    margin: 20px 10px 10px 10px;
}
a{
    text-decoration: none;
    color: #776B5D;
}

/* HEADER **/
header{
    background-image: url(../assets/img/fondo.png);
    background-size: cover;
    height: 700px;
    width: 100%; 
}
header nav {
    font-size: 16px;
}
header nav a:hover {
    color: white;
}
.header2 {
    background-image: url(../assets/img/fondo2.png);
    height: 700px;
    width: 100%;
    background-size: cover;
}
.header2 a {
    color: #D9D9D9;
}
.header3 {
    background-image: url(../assets/img/fondo3.png);
    height: 700px;
    width: 100%;
    background-size: cover;
}
.header3 a {
    color: #D9D9D9;
}
.header4 {
    background-image: url(../assets/img/fondo4.png);
}
.header5 {
    background-image: url(../assets/img/fondo5.png);
}

/*MENU HAMBURGUESA**/
.menuHamburguesa{
    display: none;
}
ul{
    display: none;
}
nav label{
    display: none;
}
nav input{
    display: none;
}

/* FLEXBOX **/ 
.flex-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 20px;
    position: relative;
    top: 20px;
}
.flex-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 30px 20px 20px ;
}
.flex-footer {
    display: flex;
    justify-content: space-around;
}
.flex-imageText {
    display: flex;
    align-self: flex-end;
    text-align: center;
    justify-content: space-around;
}
.flex-div {
    display: flex;
    flex-direction: row;
    gap: 20;
}
.flex-texto {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.logo {
    position: fixed;
}

/* GRIDS **/

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
}

.grid2 {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
/* RESPONSIVE **/

@media (max-width: 1440px) {
    .flex-nav a  {
        font-size: .75rem;
        justify-content: end;
    }
    .logo {
        width: 35px;
        height: 35px;
        left: 30px;
    }
}
@media (max-width:768px) {
    .flex-nav a  {
        font-size: .75rem;
        justify-content: end;
    }
    .logo {
        width: 50px;
        height: 50px;
        left: 30px;
    }
    .portada {
        font-size: 35px;
        margin: 153px 10px 10px 100px;
    }
    .portada2 {
        margin: 153px 10px 10px 115px;
        font-family: "Josefin Sans", sans-serif;
    }
    .portada3 {
        color: #776B5D;
        margin: 500px 10px 10px 90px;
        font-family: "Josefin Sans", sans-serif;
    }
    .portada4{
        margin: 200px 10px 10px 70px;
        font-family: "Josefin Sans", sans-serif;
    }
    .portada5{
        margin: 180px 10px 10px 100px;
        font-family: "Josefin Sans", sans-serif;
    }
    header {
        background-image: url(../assets/img/fondotablet.png);
    }
    .header5 {
        background-image: url(../assets/img/fondotablet5.png);
    }
    .header3 {
        background-image: url(../assets/img/fondotablet3.png);
    }
    .header3 a {
        color: #776B5D
    }
    .grid2 img {
        display: grid;
        width: 370px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .row iframe{
        width: 280px;
        height: 150px;
    }
}
@media (max-width:425px) {
    nav .ul1 li {
        display: none;
    }
    input:checked ~ ul{
        display: block;
    }
    .ul{
        display: none;
        list-style: none;
        flex-wrap: nowrap;
        margin-right: 20px;
        position: relative;
        font-size: .75rem;
    }
    nav label {
        display: block;
        text-align: end;
        margin-right: 20px;
    }
    .flex-nav a  {
        font-size: .5625rem;
        justify-content: end;
    }
    .logo {
        width: 40px;
        height: 40px;
        left: 10px;
        top: 20px;
    }
    header {
        background-image: url(../assets/img/fondocelu.png);
        background-size: cover;
        height: 700px;
        width: 100%;
    }
    .header2 {
        background-image: url(../assets/img/fondocelu2.png);
    }
    .portada3{
        margin: 100px 10px 10px 150px;
        font-family: "Josefin Sans", sans-serif;
    }
    .portada4{
        margin: 250px 10px 10px 60px;
    }
    .portada5{
        margin: 280px 10px 10px 35px;
    }
    .grid{
        display: flex;
        flex-direction: column;
    }
    main a {
        display: flex;
        flex-direction: column;
    }
    .flex-div {
        display: flex;
        flex-direction: column; 
    }
    .flex-div img {
        width: 350px;
        height: 600px;
        display: flex;
        flex-direction: column;
    }
    .flex-footer p {
        font-size: .75rem;
    }
    .piePagina img {
        width: 100px;
        height: 35px;
    }
    .auroreLight {
        font-size: 18px;
    }
    .header3 {
        background-image: url(../assets/img/fondocelu3.png);
        background-size: cover;
    }
    .header3 a {
        color: #776B5D
    }
    .grid2 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .grid2 img {
        width: 100%;
    }
    .header5 {
        background-image: url(../assets/img/fondocelu5.png);
        background-size: cover;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .row iframe{
        width: 280px;
        height: 150px;
    }
    }
@media (max-width:375px){
    nav .ul1 li {
        display: none;
    }
    input:checked ~ ul{
        display: block;
    }
    .ul{
        display: none;
        list-style: none;
        flex-wrap: nowrap;
        margin-right: 20px;
        position: relative;
        font-size: .75rem;
    }
    nav label {
        display: block;
    }
    .menuHamburguesa {
        text-align: end;
        margin-right: 20px;
    }
    .portada2{
        margin: 100px 10px 10px 90px; ;
    }
    .portada3{
        margin: 153px 10px 10px 90px;
    }
    .portada5{
        margin: 550gipx 10px 10px 35px;
    }
}
@media (max-width: 320px){
    nav .ul1 li {
        display: none;
    }
    input:checked ~ ul{
        display: block;
    }
    .ul{
        display: none;
        list-style: none;
        flex-wrap: nowrap;
        margin-right: 20px;
        position: relative;
        font-size: .75rem;
    }
    nav label {
        display: block;
    }
    .menuHamburguesa {
        text-align: end;
        margin-right: 20px;
    }
    .portada{
        margin-top: 250px; 
    }
    .portada2{
        margin-top: 400px;
        margin-left: 150px;
    }
    .portada3{
        margin-top: 580px;
        margin-left: 55px;
    }
    .portada5{
        margin-top: 400px;
    }
}
