$FuenteOscura: (
    color: #776B5D,
    margin-left: 60px
);

$Fuente2Oscura: (
    color: #776B5D,
    font-size: 40px,
    margin: 30px 20px 30px 20px
);

$FuenteClara: (
    color: #B0A695,
    font-size: 25px,
    margin: 30px 20px 30px 20px
);

$FuenteP1: (
    color: #776B5D,
    font-size: 35px,
    position: absolute,
    margin: 153px 10px 10px 239px
);

$FuentePP: (
    color: #D9D9D9,
    background-color: #B0A695,
    text-align: center
);

$FuentePPparrafo: (
    margin: 20px 10px 10px 10px
);

$FuentePrecios: (
    color: #B0A695,
    font-size: 16px,
    margin: 10px 20px 20px 20px
);

$FuenteA: (
    text-decoration: none,
    color: #776B5D
);
