@mixin flex-nav ($direction, $wrap, $margin, $top){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    margin-right: $margin;
    top: $top;

}
@mixin flex-img($direction, $wrap, $justify, $margin){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    margin: $margin;
}
@mixin flex-footer($justify){
    display: flex;
    justify-content: $justify;
}
@mixin flex-ImgText($align, $text, $justify){
    display: flex;
    align-self: $align;
    text-align: $text;
    justify-content: $justify;
}
@mixin flex-texto($direction, $margin){
    display: flex;
    flex-direction: $direction;
    margin-top: $margin;
}
@mixin flex-div($direction, $gap){
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}
@mixin flex-logo ($position){
    position: $position;
}
@mixin grid ($columns, $rows, $gap){
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($rows, 2fr);
    gap: $gap;
}
@mixin grid2 ($columns, $row, $margin){
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-template-rows: repeat($row, 1fr);
    margin-left: $margin;
}
@mixin grid3 ($width, $columns, $rows, $bottom){
    display: grid;
    width: $width;
    grid-template-columns: repeat($columns,1fr);
    grid-template-rows: repeat($rows,1fr);
    bottom: $bottom;
}