@media(max-width:375px){
    .header3{
        h1{
            margin-left: 100px;
        }
    }
    .main1{
        .div2{
            img{
                width: 200px;
                height: 300px;
            }
        }
    }
    .main3{
        .grid3{
            img{
                width: 300px;
            }
        }
    }
    .main5{
        .grid3{
            img{
                width: 300px;
            }
        }
    }
}