.main1 {
    section{
        font-family: "La Belle Aurore", cursive;
        color: map-get($FuenteClara , color );
        font-size: map-get($FuenteClara , font-size );
        margin: map-get($FuenteClara , margin );
        padding: 10px;
        h2 {
            text-align: left;
            font-family: "La belle Aurore", cursive;
            color: map-get($Fuente2Oscura , color);
            font-size: map-get($Fuente2Oscura , font-size );
            margin: map-get($Fuente2Oscura , margin );
        }
        div{
            @include flex-img (row, wrap, none, 20px 30px 20px 20px);
            div{
                @include flex-texto (column, 35px);
            }
            h3{
                @include flex-ImgText (flex-end, center, space-around)
            }
        }
    }
    .div2 {
        @include grid (1, 1, 0px, wrap);
            img {
                width: 350px;
                height: 500px;
                margin-bottom: 20px;
                }
            }
            div{
                grid-column: span 2;
            }
}
@-webkit-keyframes flip-in-ver-right {
    0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
    }
    100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
    }
}
@keyframes flip-in-ver-right {
    0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
    }
    100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
    }
}
.flip-in-ver-right {
	-webkit-animation: flip-in-ver-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}  

