.main4{
    padding: 15px;
    font-family: "La Belle Aurore" , cursive;
    color: map-get($FuenteClara, color );
    font-size: map-get($FuenteClara, font-size);
    margin: map-get($FuenteClara, margin );
    h1{
        font-family: "La Belle Aurore" , cursive;
        color: map-get($Fuente2Oscura, color );
        font-size: map-get($Fuente2Oscura, font-size );
        margin: map-get($Fuente2Oscura, margin );
    }
    h2{
        @extend h1
    }
    div{
        article{
            p{
                font-family: "Josefin Slab" , serif;
                color: map-get($FuentePrecios, color );
                font-size: map-get($FuentePrecios, font-size );
                margin: map-get($FuentePrecios, margin );
            }
        }
    }
}